.abstract-img {
  size: cover;
  max-width: 100%;
  max-height: 100%;
}

.header {
  display: flex;
  justify-content: center;
}

.home-page-container {
  display: flex;
  justify-content: center;
}

.home-items {
  display:flex;
  flex-direction: column;
}

.whitename{
  position: fixed;
  top: 50%;
  bottom: 50%;
  right: 45%;
  color: white;
  font-size: 100cm;
}