.employeecreate-header {
    display: flex;
    justify-content: center;
    color: white;
}

.employeecreate1-header {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    color: white;
}

.employeecreate-buttons {
    display: flex;
    padding-top: 15px;
    justify-content: center;
}

.smallemployeecreate-header {
    display: flex;
    padding-top: 3px;
}

.employeecreate-centertext {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}