.clickable {
    cursor: pointer;
}

.listingbackground{
background-color: rgba(40, 90, 133);
}

.top-header{
    display: flex;
    justify-content: center;
}

.bottomcomment-header{
    display: flex;
    justify-content: center;
    color: #dcff00;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-size: x-large;
    padding-top: 15px;
    padding-bottom: 15px;
}

.center{
    display: flex;
    justify-content: center;
}

.nowrap{
    display: flex;
    flex-wrap: nowrap;
}

.button{
    display: flex;
    justify-content: center;
}