@font-face {
    font-family: 'YourFontName';
src: url("https://www.1001fonts.com//download/font/berkshire-swash.regular.ttf");
}

.classname {
    font-family: 'YourFontName';
}

.employeeupdate-header {
    display: flex;
    justify-content: center;
    color: #dcff00;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.employeeupdate1-header {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    color: white;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.employeeupdate-buttons {
    display: flex;
    padding-top: 15px;
    justify-content: center;
    font-family: 'YourFontName';
}

.smallemployeeupdate-header {
    display: flex;
    padding-top: 3px;
}

.employeeupdate-centertext {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}