.houseSystemcreate-header {
    display: flex;
    justify-content: center;
    color: #dcff00;
}

.houseSystemcreate1-header {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    color: white;
}

.houseSystemcreate-buttons {
    display: flex;
    padding-top: 15px;
    justify-content: center;
}
.houseSystemcreate-centertext {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}