
.transactioncreate-header {
    display: flex;
    justify-content: center;
    color: #dcff00;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.transactioncreate1-header {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    color: white;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.transactioncreate-buttons {
    display: flex;
    padding-top: 15px;
    justify-content: center;
}

.smallemployeeupdate-header {
    display: flex;
    padding-top: 3px;
}

.transactioncreate-centertext {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}