.user-page-container {
  display: flex;
  justify-content: center;
}

.user-page-header {
  display: flex;
  justify-content: center;
  color: white;
  font-size: medium;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.paddinginfo{
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.headertitles{
  display: flex;
  justify-content: center;
  color: white;
}

.whitename{
  display: flex;
  justify-content: center;
  color: white;
}

.whitenames{
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.whitenames1{
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size:medium;
}

.fixwhitetext{
  color: black;
}