.betcreate-header {
    display: flex;
    justify-content: center;
    color: white;
}

.betcreate1-header {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
}

.betcreate-buttons {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    font-family: 'YourFontName';
}

.smallbetcreate-header {
    display: flex;
    padding-top: 3px;
}

.betcreate-centertext {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}