.delete-header {
    display: flex;
    justify-content: center;
    color: #dcff00;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.delete-buttons {
    display: flex;
    padding-top: 15px;
    justify-content: center;
}

.small-header {
    display: flex;
    padding-top: 3px;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}
