.create-header {
    display: flex;
    justify-content: center;
}

.create-buttons {
    display: flex;
    padding-top: 15px;
    justify-content: center;
}

.small-header {
    display: flex;
    padding-top: 3px;
}

.create-centertext {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.allaroundred {
    display: flex;
    justify-content: center;
    color: rgb(255, 0, 0);
    font-size: x-small;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}