.flex-box-centered-content-login-page {
  /* Flexbox!! https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  flex: auto;
  justify-content: center;
}

.login-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  color: white;
}

.button-container-login-page {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.loginpage-header {
  display: flex;
  justify-content: center;
  color: white;
}

.loginpage1-header {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  color: white;
}

.loginpage-buttons {
  display: flex;
  padding-top: 15px;
  justify-content: center;
  font-family: 'YourFontName';
}

.loginpage-header {
  display: flex;
  padding-top: 3px;
}

.loginpage-centertext {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.whitename{
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: larger;
}

.whitenames1{
  display: flex;
  justify-content: center;
  color: white;
}

.whitenames2{
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 15px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.whitenamestest{
  display: flex;
  justify-content: center;
  color: white;
  font-size: small;
}

.fixwhitetext{
  color: black;
}